.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  width: auto;
  top: 210px;
}

.actual-post {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
  background-color: #252728;
  border-radius: 8px;
  margin-top: 10px;
}

.content-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
.content-text {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  margin-top: 5px;
  overflow: hidden;
  left: 0;
}
.content-text span {
  margin-left: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.image-post-container {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.post-image {
  height: 99%;
  width: 100%;
  object-fit: contain;
  aspect-ratio: auto;
}
.footer-post {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 99%;
}

.top-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  justify-content: space-between;
  border-bottom: 1px solid #65686c;
  padding-bottom: 5px;
  padding-top: 5px;
}

.reacts-comments-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid #65686c;
}

/* .bottom-footer {
  box-sizing: border-box;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  justify-content: space-between;
  margin: 5px 5px;
  padding-bottom: 5px;
} */
.emojis-container {
  position: relative;
  display: inline-block;
}

.word {
  cursor: pointer;
}

.emojis {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: auto;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  pointer-events: none;
}

.emojis-container:hover .emojis {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
  pointer-events: auto;
}
.actual-emoji {
  margin: 0 5px;
}
.likes-counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}
.likes-size {
  width: auto;
  height: 25px;
}
.emoji-size {
  width: 40px;
  height: 40px;
}
.share-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content-head {
    padding: 0 10px;
  }
}
