.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  width: auto;
}
.actual-post {
  margin-top: 10px;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
  background-color: #252728;
  border-radius: 8px;
}
.content-head {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content-text {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  margin-top: 5px;
  overflow: hidden;
  left: 0;
}
.content-text span {
  margin-left: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.image-post-container {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}
.post-image {
  height: 95%;
  width: 100%;
  object-fit: contain;
  aspect-ratio: auto;
}
.footer-post {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 99%;
}

.top-footer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  justify-content: space-between;
}
.bottom-footer {
  box-sizing: border-box;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  justify-content: space-between;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 5px;
}
.emojis-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 5px;
  visibility: hidden;
  margin-left: 15px;
}
.emojis {
  z-index: 1;
  display: flex;
  flex-direction: row; /* Align emojis in a row */
  width: fit-content; 
  height: auto; 
  justify-content: center; 
  margin-bottom: 80px;
  margin-left: 100px;
}
 .word {
  visibility: visible;
  position: absolute;
}
/* Hide actual-emoji by default */
.actual-emoji {
  display: flex; /* Use flex for inner content alignment */
  flex-direction: row; /* Align content vertically */
  align-items: center;
  justify-content: center;
  width: 50px; /* Match image size */
  height: auto; /* Adjust height automatically */
  visibility: hidden; /* Default hidden state */
  opacity: 0;
  pointer-events: none; /* Prevent interaction when hidden */
  transition: opacity 0.3s ease-in-out;
}
.emoji-size {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;

}

/* Show actual-emoji when emojis-container is hovered */
.emojis-container:hover .actual-emoji {
  display: flex;
  flex-direction: row;
  visibility: visible;
  opacity: 1;
  pointer-events: auto; /* Enable interaction when visible */
}


@media (max-width: 768px) {
  .content-head {
    padding: 0 10px;
  }

}
