.stories-container {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  gap: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.stories {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto; /* Ensures cards remain the same width */

}

.stories-icons {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.stories-name {
  margin-top: -25px;
  padding-left: 5px;
}

.story-contain-image {
  width: 140px;
  height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  object-fit: cover;
}
.material-symbols-outlined {
  background-color: none;
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  
}
.stories-container button {
  color: black;
   background: none;
   border: none; 
   padding: 0; 
   cursor: pointer; 
   transition: color 0.25s ease;
}
.stories-container button:hover {
  color: white; /* Optional: Change arrow color on hover */

}
.material-symbols-outlined:first-child {
  left: 10px;
}

.material-symbols-outlined:last-child {
  right: 10px;
}




/* Responsive Design */
@media (max-width: 768px) {
  .story-contain-image {
    width: 100px;
    height: 150px;
  }

  .stories-name {
    font-size: 0.8rem;
  }

  .prev-btn, .next-btn {
    font-size: 1.5rem;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .story-contain-image {
    width: 80px;
    height: 120px;
  }

  .stories-name {
    font-size: 0.7rem;
  }
}