* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  direction: ltr;  
  flex: 1;
  height: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  align-items: stretch;
}
@media (max-width: 768px) {
  .wrapper { 
      width: 90%;
      max-width: 600px;
    }
  }


  @media (max-width: 1024px) {
    .wrapper { 
        width: 75%;
        max-width: 700px;
      }
    }